// Keyboard

@use "../base/colours" as *;
@use "../base/typography" as *;

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 60dvw;
  margin: 1.5rem auto;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.key,
.large-key {
  background-color: $text;
  border-radius: 2px;
  color: $background;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: $bold;
  margin: 0 0.4rem;
}

.key {
  aspect-ratio: 1;
  font-size: $ls-key;
  width: 35px;
}

.large-key {
  font-size: $ls-lrg-key;
  width: 75px;
  padding: 0 0.5rem;
}

.key:hover,
.large-key:hover {
  color: $blue-green;
}
