// Reset

@use "./typography" as *;
@use "./colours" as *;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%; // Font-size 1em = 10px
}

header {
  margin: 1rem auto 1rem;
}

h1 {
  color: $text;
  font-size: $ls-header;
  font-weight: $bold;
  text-align: center;
  letter-spacing: 0.5rem;
}

p,
a {
  font-weight: $regular;
  color: $text;
  font-size: 0.8rem;
  transition: 0.6s;
  letter-spacing: 0.05rem;
}

a:hover {
  color: $blue-green;
}

footer {
  background-color: $footer;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
