// Typography

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

// Font Sizes

// Large Screen
$ls-header: 2.8rem;
$ls-letters: 2.2rem;
$ls-key: 1.6rem;
$ls-lrg-key: 1.2rem;

// Font weights
$regular: 400;
$bold: 700;
